# 1) CONFIG
## SET-UP
ENVIRONMENT="dev"

## REDIS
REDIS_URL="redis://redis:6379"

## APP LOGIC
BATCH_SIZE=15
QUEUE_MIN_CAPACITY=5

# 2) SECRETS
TMDB_API_KEY=""
TMDB_API_READ_ACCESS_TOKEN=""
TMDB_IMG_URL="https://image.tmdb.org/t/p/w500"
TMDB_BASE_URL="https://api.themoviedb.org/3"

# 3) FIREBASE (TODO: change this credentials to secrets services)
FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY_ID=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_CLIENT_ID=""
FIREBASE_WEB_API_KEY=""

# 4) DATABASE
DB_HOST="database"
DB_PORT="5432"
DB_NAME=""
DB_USER=""
DB_PASSWORD=""

DB_SYNC_DRIVER="+psycopg2"
DB_ASYNC_DRIVER="postgresql+asyncpg"
