
services:
  frontend:
      build:
        context: ../frontend
        dockerfile: Dockerfile
      image: frontend:dev
      ports:
        - "5173:5173"
      volumes:
        - ../frontend/app:/app
        - /app/node_modules  # Anonymous volume for node_modules
      healthcheck:
        test: ["CMD", "curl", "--fail", "http://localhost:5173"]
        interval: 10s
        timeout: 5s
        retries: 3
        start_period: 30s
  backend:
      build:
        context: ../backend
        dockerfile: Dockerfile
      image: movie_recommender:dev
      ports:
        - "8000:8000"
      volumes:
        - ../backend/src:/app/src
      command: ["sh", "-c", "uvicorn src.movie_recommender.main:app --reload --reload-dir src --host 0.0.0.0 --port 8000"]
      depends_on:
        redis:
          condition: service_healthy
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/health/dependencies"] # TODO: change to /depndencies
        interval: 30s
        timeout: 5s
        retries: 5
        start_period: 5s
      env_file:
        - ${BACKEND_ENV_FILE}


volumes:
